@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>

    <h1><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categoria</a></h1>
    <h1><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Produtos</a></h1>
</div>
